In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#데이터 불러오기
df = pd.read_csv('C:/Users/hyha1/Documents/GitHub/AI_First_Project/customer_payment_data.csv', encoding='cp949')

In [3]:
df.head()

,날짜,전국_합계,전국_종합소매,전국_백화점,전국_대형마트/유통전문점,전국_슈퍼마켓,전국_편의점,전국_면세점,전국_전자상거래/통신판매,전국_식료품,...,기타_오락/문화,기타_스포츠/오락/여가,기타_서적/문구,기타_교육,기타_숙박/음식,기타_숙박,기타_음식점,기타_공과금/개인및전문서비스,기타_금융/보험,기타_기타
0,2010/01,21112945,3896648,1046319,1970279,666373,70993,142685,1898278,395329,...,27837,21243,6594,13302,69028,6632,62397,20377,18873,39680
1,2010/02,20392319,3894444,910952,2098611,677879,80519,126482,1767115,482663,...,19883,14896,4987,10585,50427,4577,45850,16992,15326,29696
2,2010/03,23524772,4263787,1114037,2205886,707834,79535,156494,2044895,413017,...,22555,16596,5959,9283,49034,4180,44854,14920,14943,27852
3,2010/04,22218264,3957763,1045405,1984126,701029,77647,149556,1870235,410024,...,20910,16962,3948,6478,44476,4163,40313,13653,13627,50027
4,2010/05,23036621,4348950,1140185,2209669,753995,84775,160326,1907634,449972,...,21654,18185,3469,6945,45323,4022,41301,13291,12978,27804

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Columns: 739 entries, 날짜 to 기타_기타
dtypes: int64(738), object(1)
memory usage: 860.4+ KB

In [12]:
col = df.columns
print(col)
len(col)

Index([], dtype='object')

0