In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#데이터 불러오기
df = pd.read_csv('C:/Users/hyha1/Documents/GitHub/AI_First_Project/customer_payment_data.csv', encoding='cp949')

In [3]:
def region_extract(df, region:str):
    date = df['날짜']
    col = df.columns
    
    region_col = [c for c in col if c[:2] == region]
#    print(region_col)
    region_df = df[region_col]
    region_df.insert(0, '날짜', date)
#    print(region_df.head())
    return region_df

In [4]:
## 2017년부터 자료를 뽑겠다 

for i in range(len(df)):
    if df['날짜'][i] == '2017/01':
        df = df[i:]
df

,날짜,전국_합계,전국_종합소매,전국_백화점,전국_대형마트/유통전문점,전국_슈퍼마켓,전국_편의점,전국_면세점,전국_전자상거래/통신판매,전국_식료품,...,기타_오락/문화,기타_스포츠/오락/여가,기타_서적/문구,기타_교육,기타_숙박/음식,기타_숙박,기타_음식점,기타_공과금/개인및전문서비스,기타_금융/보험,기타_기타
84,2017/01,37057619,6459281,1246031,2827678,1782019,459685,143868,4999376,849868,...,7471,5886,1585,4923,28523,2017,26505,12460,10050,13155
85,2017/02,34209309,5187107,1081967,2150197,1384820,422202,147921,4945107,520626,...,8180,6659,1521,5300,30726,1924,28803,11116,10680,12480
86,2017/03,38393522,6097912,1227898,2575103,1642004,498860,154048,5470028,625023,...,10578,8410,2168,5615,30358,1594,28764,11067,11773,13472
87,2017/04,37401138,5945479,1182927,2473578,1627104,496490,165381,5171797,638792,...,10302,8859,1443,4425,28566,1542,27024,10999,10439,13673
88,2017/05,39487958,6782586,1380424,2843985,1808414,571906,177857,5495525,696325,...,11676,10278,1397,5227,34962,1930,33032,10708,10840,13638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,2022/01,54539492,7634707,1604401,3165932,1942293,873099,48982,13162164,1285590,...,4354,3425,929,3570,20278,1285,18993,12477,9708,11564
145,2022/02,47029608,6265129,1286777,2575148,1565735,792786,44683,11902937,798669,...,3894,3240,654,2949,16696,1119,15578,8438,9109,8890
146,2022/03,53934645,7178711,1493279,2868236,1811634,956231,49332,13475197,889680,...,5991,4873,1118,3354,19462,998,18465,8745,11769,10594
147,2022/04,55138961,7279162,1627246,2873688,1773061,941861,63306,13032409,947790,...,6818,6001,817,3144,22523,1070,21453,8946,10707,11750
148,2022/05,58451416,8115289,1871565,3235987,1906653,1028676,72408,13455127,1039780,...,7637,6826,811,3331,26751,1381,25370,8237,9915,10875

In [6]:
r_df = region_extract(df, '전국')
r_df.head()

,날짜,전국_합계,전국_종합소매,전국_백화점,전국_대형마트/유통전문점,전국_슈퍼마켓,전국_편의점,전국_면세점,전국_전자상거래/통신판매,전국_식료품,...,전국_오락/문화,전국_스포츠/오락/여가,전국_서적/문구,전국_교육,전국_숙박/음식,전국_숙박,전국_음식점,전국_공과금/개인및전문서비스,전국_금융/보험,전국_기타
84,2017/01,37057619,6459281,1246031,2827678,1782019,459685,143868,4999376,849868,...,1060513,798417,262097,908967,4281673,239873,4041800,3844852,1294602,2702643
85,2017/02,34209309,5187107,1081967,2150197,1384820,422202,147921,4945107,520626,...,1021821,761229,260592,1035215,3940916,216332,3724585,3376356,1285446,2597246
86,2017/03,38393522,6097912,1227898,2575103,1642004,498860,154048,5470028,625023,...,1358892,991182,367709,1052723,4392094,202055,4190039,3447844,1508111,2859397
87,2017/04,37401138,5945479,1182927,2473578,1627104,496490,165381,5171797,638792,...,1303339,1032977,270362,899686,4392027,207353,4184674,3768379,1349269,2787923
88,2017/05,39487958,6782586,1380424,2843985,1808414,571906,177857,5495525,696325,...,1435798,1174986,260812,963938,4867316,255294,4612022,3582386,1505829,2773212

In [8]:
month_2017 = r_df[r_df['날짜'].between('2017/01', '2017/12')]
month_2018 = r_df[r_df['날짜'].between('2018/01', '2018/12')]
month_2019 = r_df[r_df['날짜'].between('2019/01', '2019/12')]
month_2020 = r_df[r_df['날짜'].between('2020/01', '2020/12')]

In [9]:
month_2017.head()

,날짜,전국_합계,전국_종합소매,전국_백화점,전국_대형마트/유통전문점,전국_슈퍼마켓,전국_편의점,전국_면세점,전국_전자상거래/통신판매,전국_식료품,...,전국_오락/문화,전국_스포츠/오락/여가,전국_서적/문구,전국_교육,전국_숙박/음식,전국_숙박,전국_음식점,전국_공과금/개인및전문서비스,전국_금융/보험,전국_기타
84,2017/01,37057619,6459281,1246031,2827678,1782019,459685,143868,4999376,849868,...,1060513,798417,262097,908967,4281673,239873,4041800,3844852,1294602,2702643
85,2017/02,34209309,5187107,1081967,2150197,1384820,422202,147921,4945107,520626,...,1021821,761229,260592,1035215,3940916,216332,3724585,3376356,1285446,2597246
86,2017/03,38393522,6097912,1227898,2575103,1642004,498860,154048,5470028,625023,...,1358892,991182,367709,1052723,4392094,202055,4190039,3447844,1508111,2859397
87,2017/04,37401138,5945479,1182927,2473578,1627104,496490,165381,5171797,638792,...,1303339,1032977,270362,899686,4392027,207353,4184674,3768379,1349269,2787923
88,2017/05,39487958,6782586,1380424,2843985,1808414,571906,177857,5495525,696325,...,1435798,1174986,260812,963938,4867316,255294,4612022,3582386,1505829,2773212

In [9]:
month_2017.set_index('날짜', inplace=True)
month_2017.head()

NameError: name 'month_2017' is not defined

In [8]:
plt.figure(figsize = (25,9))
plt.plot(month_2017['전국_합계'])
plt.show()

NameError: name 'month_2017' is not defined